---
import { getCollection } from 'astro:content';
import BaseHead from '../../components/BaseHead.astro';
import Footer from '../../components/Footer.astro';
import FormattedDate from '../../components/FormattedDate.astro';
import Header from '../../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../../consts';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="ko">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			.post-list {
				display: flex;
				flex-direction: column;
			}
			.post-card {
				display: block;
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<section class="post-list">
				{
					posts.map((post) => (
						<a href={`/blog/${post.id}/`} class="card post-card">
							<span class="badge">Tech_Archive</span>
							<h3 class="title">{post.data.title}</h3>
							<span class="date">
								<FormattedDate date={post.data.pubDate} />
							</span>
							<p>{post.data.description}</p>
						</a>
					))
				}
			</section>
		</main>
		<Footer />
	</body>
</html>
